<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [thread id:%T] %C (%F:%L) - %M %n%m%n%n" />
        </Console>

        <RollingFile name="RollingFile"
                     fileName="logs/straysheep/app.log"
                     filePattern="logs/straysheep/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">

            <PatternLayout>
                <Pattern>%d %p [thread id:%T] %C (%F:%L) - %M %n%m%n%n</Pattern>
            </PatternLayout>


            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>

        </RollingFile>

        <Async name="ASYNC">
            <AppenderRef ref="RollingFile"/>
        </Async>
    </Appenders>


    <Loggers>
        <Root level="info">
            <AppenderRef ref="ASYNC"/>
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="blog.straysheep" level="debug"></Logger>
    </Loggers>


</Configuration>